In [ ]:
import pandas as pd

In [ ]:
# 01_Getting_&_Knowing_Your_Data

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

In [ ]:
# World Food Facts

In [ ]:
food_data = pd.read_csv('/kaggle/input/en.openfoodfacts.org.products.tsv',delimiter='\t')
food_df = pd.DataFrame(food_data)
food_df

In [ ]:
# See the first 5 entries
food_df.head()

In [ ]:
# What is the number of observations in the dataset?
num_observations = len(food_df) 
print(num_observations)

In [ ]:
# What is the number of columns in the dataset?
num_columns = food_df.shape[1] 
print(num_columns)

In [ ]:
#Print the name of all the columns
food_df.columns

In [ ]:
# What is the name of 105th column?
column_name_105 = food_df.columns[104] 
print(column_name_105)

In [ ]:
# What is the type of the observations of the 105th column?
column_105_type = food_df.dtypes[104]
print(column_105_type)

In [ ]:
# How is the dataset indexed?
print(food_df.index)

In [ ]:
# What is the product name of the 19th observation?
product_name = food_df.loc[18,'product_name'] 
print(product_name)

In [ ]:
# New Project

In [ ]:
# Occupation
users_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
users_df.columns
users_df['user_id|age|gender|occupation|zip_code'] = users_df['user_id|age|gender|occupation|zip_code'].str.split('|')
users_df[['user_id', 'age', 'gender', 'occupation', 'zip_code']] = pd.DataFrame(users_df['user_id|age|gender|occupation|zip_code'].tolist(), index=users_df.index)
users_df = users_df.drop(columns=['user_id|age|gender|occupation|zip_code'])
users_df

In [ ]:
# See the first 25 entries
users_df.head(25)

In [ ]:
# See the last 10 entries
users_df.tail(10)

In [ ]:
# What is the number of observations in the dataset?
num_observations = len(users_df) 
print(num_observations)

In [ ]:
# What is the number of columns in the dataset?
number_of_columns = users_df.shape[1]
print(number_of_columns)

In [ ]:
# Print the name of all the columns
users_df.columns

In [ ]:
# How is the dataset indexed?
print(users_df.index)

In [ ]:
# What is the data type of each column?
users_df.dtypes

In [ ]:
# Print only the occupation column
users_df['occupation']

In [ ]:
# How many different occupations are in this dataset?
users_df['occupation'].nunique()

In [ ]:
# What is the most frequent occupation?
users_df['occupation'].value_counts().idxmax()

In [ ]:
# Summarize the DataFrame
users_df.describe()

In [ ]:
# New Project

In [ ]:
# Chipotle
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter='\t')
chipo_df = pd.DataFrame(chipo)
chipo_df

In [ ]:
# See the first 10 entries
chipo_df.head(10)

In [ ]:
# What is the number of observations in the dataset?
print(len(chipo_df))

In [ ]:
# What is the number of columns in the dataset?
print(chipo_df.shape[1])

In [ ]:
# What is the number of columns in the dataset?
chipo_df.columns

In [ ]:
# How is the dataset indexed?
print(chipo_df.index)

In [ ]:
# Which was the most-ordered item? 
most_ordered_item = chipo_df['item_name'].value_counts().idxmax()
most_ordered_item

In [ ]:
# For the most-ordered item, how many items were ordered?
item_counts = chipo_df['item_name'].value_counts()
quantity_ordered = item_counts.max()
print(quantity_ordered)

In [ ]:
# What was the most ordered item in the choice_description column?
chipo_df['choice_description'].value_counts().idxmax()

In [ ]:
# How many items were orderd in total?
len(chipo_df['item_name'])

In [ ]:
# Turn the item price into a float
chipo_df['item_price'] = chipo_df['item_price'].str[1:].astype(float)

In [ ]:
# Check the item price type
print(chipo_df['item_price'].dtypes)

In [ ]:
# Create a lambda function and change the type of item price
chipo_df['item_price'] = chipo_df['item_price'].apply(lambda x: float(x))

In [ ]:
# Check the item price type
print(chipo_df['item_price'].dtypes)

In [ ]:
# How much was the revenue for the period in the dataset?
chipo_df['revenue'] = chipo_df['item_price'] * chipo_df['item_price']
print("{:.3f}".format(chipo_df['revenue'].sum()))

In [ ]:
# How many orders were made in the period?
print(chipo_df['order_id'].nunique())

In [ ]:
# What is the average revenue amount per order?
average_revenue_per_order = chipo_df['revenue'].sum() / chipo_df['order_id'].nunique()
print("{:.3f}".format(average_revenue_per_order))

In [ ]:
# How many different items are sold?
items = chipo_df['item_name'].unique()
items_df = pd.DataFrame(items)
items_df

In [ ]:
# New Section

In [ ]:
# 02_Filtering_&_Sorting

In [ ]:
# Fictional Army

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}
army_df = pd.DataFrame(raw_data)

In [ ]:
# Set the 'origin' colum as the index of the dataframe

army_df.set_index('origin', inplace=True)
army_df

In [ ]:
# Print only the column veterans
army_df[['veterans']]

In [ ]:
# Print the columns 'veterans' and 'deaths'
army_df[['veterans','deaths']]

In [ ]:
# Print the name of all the columns
army_df.columns

In [ ]:
# Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska
army_df.loc[['Maine', 'Alaska'],['deaths','size','deserters']]

In [ ]:
# Select the rows 3 to 7 and the columns 3 to 6
army_df.iloc[2:7, 2:6]

In [ ]:
# Select every row after the fourth row and all columns
army_df.iloc[4:, :]

In [ ]:
# Select every row up to the 4th row and all columns
army_df.iloc[:4, :]

In [ ]:
# Select the 3rd column up to the 7th column
army_df.iloc[: ,3:7]

In [ ]:
# Select rows where df.deaths is greater than 50
army_df[army_df['deaths'] > 50 ]

In [ ]:
# Select rows where df.deaths is greater than 500 or less than 50
army_df[army_df['deaths'] > 50 ]

In [ ]:
# Select rows where df.deaths is greater than 500 or less than 50
army_df[(army_df['deaths'] > 500) | (army_df['deaths'] < 50)]

In [ ]:
# Select all the regiments not named "Dragoons"
army_df[(army_df['regiment'] != 'Dragoons')][['regiment']]

In [ ]:
# Select the rows called Texas and Arizona
army_df.loc[['Texas', 'Arizona']]

In [ ]:
# Select the third cell in the row named Arizona
army_df.loc['Arizona'].iloc[2]

In [ ]:
# Select the third cell down in the column named deaths
army_df['deaths'].iloc[-3]

In [ ]:
# New Project

In [ ]:
# Euro12

In [ ]:
euro12_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
euro12_df

In [ ]:
euro12_df[['Goals']]

In [ ]:
# How many team participated in the Euro2012?
len(euro12_df['Team'])

In [ ]:
# What is the number of columns in the dataset?
euro12_df.shape[1]

In [ ]:
# View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
euro12_df[['Team','Yellow Cards','Red Cards']]

In [ ]:
# Sort the teams by Red Cards, then to Yellow Cards
sorted_teams = euro12_df.sort_values(by=['Red Cards','Yellow Cards'])
sorted_teams

In [ ]:
# Calculate the mean Yellow Cards given per Team
mean_yellow_cards = euro12_df.groupby('Team')['Yellow Cards'].mean()
pd.DataFrame(mean_yellow_cards)

In [ ]:
# Filter teams that scored more than 6 goals
euro12_df[euro12_df['Goals'] > 6 ][['Team']]

In [ ]:
# Select the teams that start with G
euro12_df[euro12_df['Team'].str.startswith('G')][['Team']]

In [ ]:
# Select the first 7 columns
euro12_df.iloc[: , :7]

In [ ]:
# Select all columns except the last 3
euro12_df.iloc[: , :-3]

In [ ]:
# Present only the Shooting Accuracy from England, Italy and Russia 
euro12_df.set_index('Team', inplace=True)
euro12_df.loc[['England','Italy','Russia'],['Shooting Accuracy']]

In [ ]:
# New Project

In [ ]:
# Chipotle
chipo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')
chipo_df

In [ ]:
# What is the price of each item? 
chipo_df[['item_name','item_price']]

In [ ]:
# How many products cost more than $10.00
len(chipo[chipo['item_price'].str[1:].astype(float) > 10])

In [ ]:
# Sort by the name of the item
sorted_names = chipo_df.sort_values(by=['item_name'])
sorted_names

In [ ]:
# What was the quantity of the most expensive item ordered?
chipo_df['item_price'] = chipo_df['item_price'].replace('[\$,]', '', regex=True).astype(float)
max_price_index = chipo_df['item_price'].idxmax()
chipo_df.loc[max_price_index, 'quantity']

In [ ]:
# How many times was a Veggie Salad Bowl ordered?
len(chipo_df[chipo_df['item_name'] == 'Veggie Salad Bowl'])

In [ ]:
# How many times did someone order more than one Canned Soda?
filterd_df = chipo_df[(chipo_df['item_name'] == 'Canned Soda') & (chipo_df['quantity'] > 1)]
len(filterd_df)

In [ ]:
# New Section

In [ ]:
# 03_Grouping

In [ ]:
# Regiment
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

regiment_df = pd.DataFrame(raw_data)
regiment_df

In [ ]:
#  What is the mean preTestScore from the regiment Nighthawks?  
regiment_df[regiment_df['regiment'] == 'Nighthawks']['preTestScore'].mean()

In [ ]:
# Present general statistics by company
statistics_by_company = regiment_df.groupby('company')
statistics_by_company.describe()

In [ ]:
# What is the mean of each company's preTestScore ? 
mean_pretest_by_company = regiment_df.groupby('company')['preTestScore'].mean()
mean_pretest_by_company_df = pd.DataFrame(mean_pretest_by_company)
mean_pretest_by_company_df

In [ ]:
# Present the mean preTestScores grouped by regiment and company 
regiment_df.groupby(['regiment','company'])['preTestScore'].mean()

In [ ]:
# Present the mean preTestScores grouped by regiment and company without heirarchical indexing
regiment_df.groupby(['regiment','company'])['preTestScore'].mean().reset_index(drop=True)

In [ ]:
# Group the entire dataframe by regiment and company
grouped_df = regiment_df.groupby(['regiment','company'])
for group, group_data in grouped_df:
    print(f"\nGroup: {group}")
    print(group_data)

In [ ]:
# What is the number of observations in each regiment and company
regiment_df.shape[0]

In [ ]:
# Iterate over a group and print the name and the whole data from the regiment
for group_name, group_data in grouped_df:
    print(f"\nGroup Name: {group_name}")
    print(group_data)

In [ ]:
# New Project

In [ ]:
# Occupation
users_df

In [ ]:
# Discover what is the mean age per occupation
mean_age_per_occupation = users_df.groupby('occupation')['age'].mean()
mean_age_per_occupation_df = pd.DataFrame(mean_age_per_occupation)
mean_age_per_occupation_df

In [ ]:
# Discover the Male ratio per occupation and sort it from the most to the least
male_ratio_per_occupation = users_df.groupby('occupation')['age'].count()
male_ratio_per_occupation_df = pd.DataFrame(male_ratio_per_occupation)
male_ratio_per_occupation_df

In [ ]:
# For each occupation, calculate the minimum and maximum ages
minimum = users_df.groupby('occupation')['age'].min()
maximum = users_df.groupby('occupation')['age'].max()
minimum_df = pd.DataFrame(minimum)
maximum_df = pd.DataFrame(maximum)

In [ ]:
minimum_df

In [ ]:
maximum_df

In [ ]:
# For each combination of occupation and gender, calculate the mean age
combination_of_occupation_and_gender = users_df.groupby(['occupation','gender'])['age'].mean()
combination_of_occupation_and_gender_df = pd.DataFrame(combination_of_occupation_and_gender)
combination_of_occupation_and_gender_df

In [ ]:
# For each occupation present the percentage of women and men
percentage_of_women_and_men = users_df.groupby(['occupation','gender'])['gender'].count()
percentage_of_women_and_men_df = pd.DataFrame(percentage_of_women_and_men)
percentage_of_women_and_men_df

In [ ]:
# New Project

In [ ]:
# Alcohol_Consumption
drinks_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks_df

In [ ]:
# Which continent drinks more beer on average?
drinks_df.groupby('continent')['total_litres_of_pure_alcohol'].mean().idxmax()

In [ ]:
# For each continent print the statistics for wine consumption.
drinks_df.groupby('continent')['wine_servings'].describe()

In [ ]:
# Print the mean alcohol consumption per continent for every column
mean_alcohol_consumption = drinks_df.groupby('continent')['total_litres_of_pure_alcohol'].mean()
mean_alcohol_consumption_df = pd.DataFrame(mean_alcohol_consumption)
mean_alcohol_consumption_df

In [ ]:
# Print the median alcohol consumption per continent for every column
median_alcohol_consumption = drinks_df.groupby('continent')['beer_servings'].median()
median_alcohol_consumption_df = pd.DataFrame(mean_alcohol_consumption)
median_alcohol_consumption_df

In [ ]:
# Step 8. Print the mean, min and max values for spirit consumption
drinks_df.groupby('continent')['spirit_servings'].describe()

In [ ]:
# New Section

In [ ]:
# 04_Apply

In [ ]:
# US_Crime_Rates
crime_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')
crime_df

In [ ]:
# What is the type of the columns?
crime_df.dtypes

In [ ]:
# Convert the type of the column Year to datetime64
crime_df['Year'] = pd.to_datetime(crime_df['Year'])
crime_df['Year'].dtypes

In [ ]:
# Set the Year column as the index of the dataframe
crime_df['Year'] = crime_df['Year'].astype(int)
crime_df.set_index('Year',inplace = True)
crime_df

In [ ]:
# Delete the Total colum
crime_df.drop(columns=['Total'],inplace = True)
crime_df

In [ ]:
# Group the year by decades and sum the values
def get_decade(year):
    return (year // 10) * 10
crime_df['total'] = crime_df['Violent'] + crime_df['Property'] + crime_df['Murder'] + crime_df['Forcible_Rape'] + crime_df['Aggravated_assault'] + crime_df['Burglary'] + crime_df['Larceny_Theft'] + crime_df['Vehicle_Theft']
crime_df.groupby(get_decade)['total'].sum()

In [ ]:
# What is the most dangerous decade to live in the US?
crime_df.groupby(get_decade)['total'].sum().idxmax()

In [ ]:
# New Project

In [ ]:
# Students_Alcohol_Consumption
students_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')
students_df

In [ ]:
# For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column
students_df.loc[: , : 'guardian']

In [ ]:
# Create a lambda function that will capitalize strings
capitalize_string = lambda x: x.capitalize()

In [ ]:
# Step 6. Capitalize both Mjob and Fjob
students_df['Mjob'] = students_df['Mjob'].apply(capitalize_string)
students_df['Fjob'] = students_df['Fjob'].apply(capitalize_string)
students_df[['Mjob','Fjob']]

In [ ]:
# Print the last elements of the data set
students_df.iloc[-1: , :]

In [ ]:
# Create a function called majority that returns a boolean value to a new column called legal_drinker 
# (Consider majority as older than 17 years old)
def majority(age):
    return age > 17
students_df['legal_drinker'] = students_df['age'].apply(majority)
students_df

In [ ]:
# Multiply every number of the dataset by 10. 
students_df.apply(lambda x: x * 10 if pd.api.types.is_numeric_dtype(x) else x)

In [ ]:
# New Section

In [ ]:
# 05_Merge

In [ ]:
# Housing Market

In [ ]:
# Create 3 differents Series, each of length 100, as follows: 
# 1. The first a random number from 1 to 4 
# 2. The second a random number from 1 to 3
# 3. The third a random number from 10,000 to 30,000
import numpy as np
series1 = pd.Series(np.random.uniform(1, 5, 100))
series2 = pd.Series(np.random.randint(1, 4, 100)) 
series3 = pd.Series(np.random.randint(10000, 30001, 100))

In [ ]:
# Let's create a DataFrame by joinning the Series by column
series_df = pd.concat([series1,series2,series3] , axis = 1)
series_df.columns = ['series1','series2','series3']
series_df

In [ ]:
# Change the name of the columns to bedrs, bathrs, price_sqr_meter
series_df.rename(columns={'series1' :'bedrs' , 'series2' : 'bathrs' , 'series3' : 'price_sqr_meter' } , inplace = True)
series_df

In [ ]:
# Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
big_column = pd.concat([series1 , series2 , series3],ignore_index=True )
big_column_df = pd.DataFrame({'big column':big_column})
big_column_df

In [ ]:
# New Project

In [ ]:
# Fictitous Names

raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

data1_df = pd.DataFrame(raw_data_1) 
data1_df

In [ ]:
raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

data2_df = pd.DataFrame(raw_data_2) 
data2_df

In [ ]:
raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}


data3_df = pd.DataFrame(raw_data_3)

In [ ]:
# Join the two dataframes along rows and assign all_data
all_data = pd.concat([data1_df,data2_df], axis = 0)
all_data

In [ ]:
# Join the two dataframes along columns and assing to all_data_col
two_dataframes_along_columns = pd.concat([data2_df,data3_df] , axis = 1)
two_dataframes_along_columns

In [ ]:
# Print data3
data3_df

In [ ]:
# Merge all_data and data3 along the subject_id value
all_data_and_data3_df = pd.merge(all_data,data3_df , on = 'subject_id')
all_data_and_data3_df

In [ ]:
# Merge only the data that has the same 'subject_id' on both data1 and data2
same_data_df = pd.merge(data1_df , data2_df, on = 'subject_id')
same_data_df

In [ ]:
# Merge all values in data1 and data2, with matching records from both sides where available.
all_values = pd.merge(data1_df , data2_df, on = 'subject_id', how='outer')
all_values

In [ ]:
# New Project

In [ ]:
# Auto_MPG

In [ ]:
cars1_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars1_df

In [ ]:
cars2_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars2_df

In [ ]:
# Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1_df.drop(columns = ['Unnamed: 9' , 'Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], inplace= True)
cars1_df

In [ ]:
# What is the number of observations in each dataset?
print(cars1_df.shape[0])
print(cars2_df.shape[0])

In [ ]:
# Join cars1 and cars2 into a single DataFrame called cars
merged_cars_df = pd.concat([cars1_df,cars1_df] , ignore_index= True)
merged_cars_df

In [ ]:
# Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000
owners = pd.Series(np.random.uniform(15000 ,73000,size  = len(merged_cars_df)))

In [ ]:
# Add the column owners to cars
merged_cars_df['cars'] = owners
merged_cars_df

In [ ]:
# New Section

In [ ]:
# 07_Visualization

In [ ]:
# Titanic_Desaster
titanic_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv')
titanic_df

In [ ]:
# Set PassengerId as the index 
# titanic_df.set_index('PassengerId', inplace=True)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Create a pie chart presenting the male/female proportion
gender_counts = titanic_df['Sex'].value_counts()
plt.pie(gender_counts , labels = gender_counts.index, autopct = '%0.1f%%')

In [ ]:
# Create a scatterplot with the Fare payed and the Age, differ the plot color by gender